<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" th:href="@{/css/inicio.css}">
</head>

<body>

    <main class="contenedor">

        <div class="tarjeta">

            <h1>Iniciar Sesión</h1>

            <div class="mensaje-error"
                 th:if="${error}"
                 th:text="${error}">
            </div>

            <form th:action="@{/login}"
                  th:object="${usuario}"
                  method="post">

                <div class="campo">
                    <input type="email"
                           placeholder="Correo"
                           th:field="*{correo}">
                </div>

                <div class="campo">
                    <input type="password"
                           placeholder="Contraseña"
                           th:field="*{password}">
                </div>

                <button type="submit">
                    Ingresar
                </button>

            </form>

        </div>

    </main>

</body>

</html>